In [15]:
from main_api_copy import export_bricklink_to_rebrickable_csv,get_user_token,create_partlist, get_id_list,csv_to_json_parts,add_parts_to_partlist,can_build_set,do_set_with_myparts,part_set

In [2]:
bricklink_ids=["3004", "3006", "2745", "9959"]  # à remplacer par la colonne id de la classification
KEY_USER = "91e7670a51c5f4decf0dc3cd270c973d"
USER_NAME = 'Legolas2007'
PASSWORD = 'Lewagon2007'
name_new_list ='test3'
csv_file="list_parts.csv"
set_num="75301-1"

In [3]:
export_bricklink_to_rebrickable_csv(bricklink_ids, output_file="list_parts.csv")

[1/4] Recherche : 3004
[2/4] Recherche : 3006
[3/4] Recherche : 2745
[4/4] Recherche : 9959

✅ Fichier CSV mis à jour : list_parts.csv

In [4]:
user_token = get_user_token(USER_NAME, PASSWORD)
user_token

'30c92eff3572798afaa17bf95833c9964be13be97f98588b35de4024f033267c'

In [5]:
## CREATION DE LISTE si la liste existe dejà : change de nom de liste

In [6]:
id_list = get_id_list(name_new_list,user_token)

In [7]:
## recupérer les informations nécessaire sur le CSV pour compléter la liste :

In [8]:
json_parts=csv_to_json_parts(csv_file)

In [9]:
## Ajouter les parts à ma liste

In [10]:
add_parts_to_partlist(user_token, id_list, json_parts)

Les pièces ont bien été ajoutées à la liste

In [11]:
## Choisir un set et connaitre les info possible vis à vis de ma liste

In [12]:
do_set_with_myparts(set_num, user_token)

,Set,Pieces total du set,% pièces possédée du set,Nombre pièce manquante
0,75301-1,474,3.5,447

In [ ]:
# à la fin supprimer la liste

In [18]:
df = part_set(set_num)
df

    part_num  quantity  color
0      93095         1      0
1      33909         1      0
2       3039         1      0
3      32062         8      0
4      18651        14      0
..       ...       ...    ...
118    30356         2     15
119    4856b         1     15
120    60479         1     14
121     4519         1     14
122   32064a         4     14

[123 rows x 3 columns]

In [23]:
import pandas as pd

stock_df = pd.read_csv("list_parts.csv")


colonnes = ["Rebrickable_ID_1", "color_id", "quantity"]
df_selection = stock_df[colonnes]

df_selection

  Rebrickable_ID_1  color_id  quantity
0             3004      9999        22
1             3006      9999        22
2         2745stor      9999        22
3              NaN      9999        22

In [ ]:
import pandas as pd


set_df = df
stock_df = df_selection

stock_df = stock_df.rename(columns={
    "Rebrickable_ID_1": "part_num",
    "quantity": "available_qty"
})

merged_df = set_df.merge(stock_df[["part_num", "available_qty"]], on="part_num", how="left")

# Remplacer les NaN (pièces non trouvées) par 0 dispo
merged_df["available_qty"] = merged_df["available_qty"].fillna(0).astype(int)

# Vérifier si la quantité disponible suffit
merged_df["suffisant"] = merged_df["available_qty"] >= merged_df["quantity"]

In [ ]:
merged_df

    part_num  quantity  color  available_qty  suffisant
0      93095         1      0              0      False
1      33909         1      0              0      False
2       3039         1      0              0      False
3      32062         8      0              0      False
4      18651        14      0              0      False
..       ...       ...    ...            ...        ...
118    30356         2     15              0      False
119    4856b         1     15              0      False
120    60479         1     14              0      False
121     4519         1     14              0      False
122   32064a         4     14              0      False

[123 rows x 5 columns]